@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@700&family=Lato:wght@300;400&family=Poppins:wght@300;400&display=swap');

/* NAVBAR */
.navbar-brand {
    background-image: url('https://res.cloudinary.com/dzqdaqlba/image/upload/v1681463794/Hackathon%20London/cropped-logo_c4klcr.png');
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    margin-left: 5%;
}

.navbar {
    
    text-decoration: none !important;
    background-color: #89bdbb !important;
    text-decoration: none !important;   
    padding-right: 5%;
}

.nav-link {
    color: #fff !important;
    font-size: 1rem;
    border-bottom: 1px solid #89bdbb;
}

.navbar-nav li {
    padding: 0 5px;
}
.active {
    border-bottom: 1px solid #fff;
}

.nav-link:hover {
    border-bottom: 1px solid #fff;
}

/* SERVICES OVERVIEW SECTION - HOME PAGE */



.picture-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
  }

  .homepage-card {
    width: calc(20% - 10px);
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    padding: 10px;
    border: 1px rgba(128, 128, 128, 0.404) solid;
    
  }

  .homepage-card img {
    width: 100%;
    border-radius: 10px;
  }

  .homepage-icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .homepage-icon i {
    font-size: 20px;
  }

  h4 {
    margin-top: 10px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
  }


  .homepage-p {  
  
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 75px;
  }

  /* pictures */

.picture1 {
    background-image: url('https://res.cloudinary.com/dzqdaqlba/image/upload/v1681406937/Hackathon%20London/community1_cbuqfe.webp');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}

.picture2 {
    background-image: url('https://res.cloudinary.com/dzqdaqlba/image/upload/v1681406936/Hackathon%20London/chinook-exercise_mlvdeu.webp');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}

.picture3 {
    background-image: url('https://res.cloudinary.com/dzqdaqlba/image/upload/v1681406932/Hackathon%20London/help_sqm7mz.webp');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}

.picture4 {
    background-image: url('https://res.cloudinary.com/dzqdaqlba/image/upload/v1681406937/Hackathon%20London/family_irdndj.webp');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}

.picture5 {
    background-image: url('https://res.cloudinary.com/dzqdaqlba/image/upload/v1681406933/Hackathon%20London/hug_etfz4u.webp');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}

@media screen and (max-width: 1100px) {
    .card {
        width: 49%;
      }
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
      }
}

/* CAROUSEL */

#carousel-container {
    max-width: 500px ;
    margin: 50px auto ;
}


#carouselExampleIndicators {
    text-align: center !important;
    margin: 50px auto ;
}


.carousel-item img {
    max-height: 500px !important;
    max-width: 500px !important;
    color: rgb(0, 0, 0);
    
}

.carousel-caption h5 {
    color: rgb(0, 0, 0);
    max-height: 500px !important;
    max-width: 500px !important;
    background-color: #f8f9fae8;
}


/* HERO IMAGE AND COVER TEXT - HOME PAGE */

/* hero image covers entirety of display with flex to center cover text */
.hero-image {
    height: 80vh;
    width: 100%;
    background: url('https://res.cloudinary.com/dzqdaqlba/image/upload/v1681406936/Hackathon%20London/applaude_mkb1nu.webp') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* cover text for marketing slogan */
#cover-text {
    background-color: rgb(255, 255, 255, 0.55);
    width: 80%;
    font-size: 2rem;
    text-align: center;
    color:#2f4858;
}

#cover-text h2 {
    font-family: 'lato', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 3px;
}

#cover-text h3 {
    font-family: 'lato', sans-serif;
}


/* FOOTER SECTION */
.nav-item {
    display: inline-flex;
    color: #fff;
}

.footer, footer a {
   background-color: #89bdbb !important;
   color: #fff;
   text-decoration: none;
}

.footer a:hover {
    transform: translate(0, -10px);
    color: #fff;
}

.footer-middle {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
    padding-top: 0.75rem;
}

.footer-middle i {
    font-size: 1rem;
}


.footer-right {
    display: inline-flex;
    font-size: 2rem;
    padding: 1rem;
}

/* END OF FOOTER SECTION */

/* GALLERY SECTION - HOME PAGE */

/* flexbox config for responsive sizing */
#gallery {
    width: 100%;
    min-height: 800px;
    max-height: 100%;
    padding: 70px 0;
    background: #fff;
}

.gallery-box {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.gallery-image {
    flex-basis: 25%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative; 
}

.gallery-image img {
    width: 100%;
    padding: 10px;
}

/* overlay covers 100% of each image to provide darker background for text which is centred */
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.5),#2f4858);
    opacity: 0;
    transition: 1s;
}

/* overlay becomes visible once hovered over*/
.gallery-image:hover .overlay {
    opacity: 1;
}

/*overlay transitions up from bottom of image*/
.gallery-image:hover .gallery-text {
    bottom: 40%;
    opacity: 1;
}

/* asthetic line in overlay*/
.hr0 {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

/* navigation button appears in overlay and links to gallery page */
.gallery-image a {
    cursor: pointer;
    background-color: rgb(130, 175, 33,0.9);
    padding: 5px 15px;
    border-radius: 20px;
}

.gallery-image a:hover {
    background-color: #fff;
    color: #82af21;
    border: 2px solid #82af21;
}

/* text config */
/* stlye theme consistent across site */
.gallery-image h3, a {
    color: #fff;
    font-weight: normal;
}

.gallery-title {
    text-align: center;
    color: #2f4858; 
}

.gallery-title h2 {
    font-size: 3rem;
    word-spacing: 4px;
}

.gallery-title h3 {
    font-family: 'lato', sans-serif;
    font-size: 2rem;
    padding-bottom: 20px;
}

.gallery-title h4 {
    font-family: 'lato', sans-serif;
    font-size: 1.5rem;
    word-spacing: 4px;
    color: #2f4858; 
    padding-bottom: 40px;
}

.gallery-text {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

.gallery-text p {
    font-size: 14px;
}

@media screen and (max-width: 1250px) {

    /* gallery section - home page @ 1250px */

    .gallery-image {
        flex-basis: 40%;
    }
    /* overlay is now fixed and no longer a hover element */
    .overlay {
        background: linear-gradient(rgba(0,0,0,0.3),rgb(47, 72, 88,0.3));
        opacity: 1;
    }
    /* text is fixed and no longer a hover element */
    .gallery-text {
        width: 100%;
        height: 60%;
        opacity: 1;
        font-size: 0.5em;
    }
    /* text is centered in images */
    .gallery-image:hover .gallery-text {
        bottom: 0;
        opacity: 1;
    }
}

/* gallery section - home page @ 800px */
@media screen and (max-width: 800px) {
    #gallery {
        min-height: 100%;
    }

    /* gallery collapes to be 1 image per row */
    .gallery-image {
        flex-basis: 90%;
        border-radius: 7px;
        max-height: 320px;
        max-width: 320px;
        display: block;
        margin: auto;
    }

    .gallery-text h3 {
        padding-bottom: 10px;
    }

    .hr0 {
        display: none;
    }
}

/* Toast Styling */

.message-conatiner {
    position: fixed;
    top: 72px;
    right: 30px;
    z-index: 9999999;
}

.customer-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* Buttons ---- Added by Thomas Faulkner */

.btn {
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: #88BDBC;
    margin-bottom: 3px;
}

.cancel {
    background-color: #254E58;
}


/* Public Profile */

.pp-img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}

#about-me {
    width: 80%;
    border: 1px rgba(128, 128, 128, 0.404) solid;
    padding: 10px;
    margin-top: 0px;
    position: absolute;
}

#about-me-title {
    width: 90px;
    position: relative;
    background-color: white;
    bottom: 25px;
}

#about-me-content {
    position: relative;
    bottom: 10px;
}

/* Following Profile Cards */

.following-card {
    border: 1px rgb(85, 84, 84) solid;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 5px;
}

.following-img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.btn-unfollow {
    display: inline;
}
